extends ../../views/layout/layout.pug
block content
    html  
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title CDIO 3
        body
            .navbar#navbarTop
                a#mystore(href = "/mystore") Gian Hàng Của Bạn
                a#notification(href = "#") Thông Báo
                a#help(href = "#") Trợ Giúp
                a#registration(href = "/user/register") Đăng Ký
                a#logIn(href = "/user/login") Đăng Nhập
            .navbar#navbarBelow
                nav#navbarLogo
                    a(href="/")
                        img(src="../images/logo.jpg" style="width:100%; height=100%;")
                nav#navbarSearch
                form.form-inline(action = "/search/" method = "GET")
                    input#inputFormSearch.form-control.mr-sm-2(type='text' name = "q" placeholder='Search' aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                nav#navbarCart 
                a(href="#") 
        .container
            table.table
                tr
                    th Ảnh Đại Diện
                    th Tên Người Dùng
                    th Quyền
                    th Phone
                    th Email
                    th Action
                each user in users 
                    tr
                        td
                            img(style ="with: 32px; height:32px")(src= "/" + user.avatar)
                        td= user.userName
                        td= user.rank
                        td= user.numberPhone
                        td= user.Email
                        td
                            a#btnEditUser.btn.btn-primary(class="fas fa-edit" href="/user/update-user/" + user.id)
                        td
                            a#btnDelUser.btn.btn-danger(class="fas fa-trash-alt" href="/user/delete-user/" + user.id)

