extends ../../views/layout/layout.pug 
block content
    html
        head
            title product name
        body
            .navbar#navbarTop
                a#mystore(href = "/mystore") Gian Hàng Của Bạn
                a#notification(href = "#") Thông Báo
                a#help(href = "#") Trợ Giúp
                a#registration(href = "#") Đăng Ký
                a#logIn(href = "#") Đăng Nhập
            .navbar#navbarBelow
                nav#navbarLogo
                    a(href="/")
                        img(src="../../images/logo.jpg" style="width:100%; height=100%;")
                nav#navbarSearch
                    form.form-inline
                        input#inputFormSearch.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search' )
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                nav#navbarCart 
                    a(href="#") Cart
            .container#containerViewProduct
                .card.mb-3#card-product-mystoreView
                    a
                        img(style="width:350px;height:350px" src="/" + products.imageProduct).card-img-top 
                    //- .card-body#card-body(style="width:188px")
                    //-     a
                    //-         h5#nameProduct.card-title= products.nameProduct
                    //-     h5#priceProduct.card-title= products.priceProduct +"₫"
                table.table#tableViewProduct
                    tr#trTableViewProduct
                        tr
                            td
                                h6#nameProduct.card-title= products.nameProduct
                        tr
                            td
                                h6#priceProduct.card-title= products.priceProduct
                        tr
                            td
                                h6#saleProduct.card-title  khuyến mãi
                        tr
                            td
                                h6#chooseSize.card-title Chọn size
                                button 35
                        tr
                            td
                                h6#amountProduct.card-title số Lượng
                                input(type="number")                                
                        tr
                            td
                                a#btnAddToCart.btn.btn-outline-primary(href="/add-to-cart/" + products.id) Thêm Vào Giỏ Hàng
                                a#btnBuy.btn.btn-outline-info(href="/") Mua Ngay
            .container#ShopCard
                h5 Shop Của Nam
            .container#describeProduct
                h5 Mô Tả :
                    h6= products.describeProduct
                    